@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    height: 150vh;
    /* background-color: aqua; */
    background-image: url(resources/images/home-main.jpg);
    background-size: 1550px;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    background-position-y: bottom;
    /* backdrop-filter: blur(1px); */
    font-family: 'Poiret One', cursive;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.4);
    /* mix-blend-mode: difference; */
    font-weight: bold;
}
#lid-logo{
    width: 50px;
    border-right: 1px solid grey;
    padding-right: 40px;
}
#shopping-bag{
    width: 50px;
}

.nav-bars, ul{
    display: flex;
    
}

.left-li{
    padding: 50px;
}
.right-li{
    padding: 20px;
}
ul{
    list-style: none;
}

.navi-right{
    margin-left: auto;
    /* background-color: white; */
    color: white;
    border-radius: 0 0 0 70px;
    height: 118.4px;
    filter: contrast(10);
}
.nav-right ul{
    padding-right: 0px;
    background-color: #bdd4e7;
    

}
.navi-left ul, .navi-right ul{
    align-items: center;
    margin-left: 20px;
    height: 118px;
    flex-wrap: wrap;
    font-weight: bolder;
    filter: contrast(10);
    font-size: large;
    text-decoration: underline;
}
.side-bar{
    width: 100px;
}
.side-bar-list{
    display: flex;
    flex-direction: column; 
}
.icons{
    width: 20px;
    margin: 15px 34px;
}
#side-quote{
    z-index: 0;
    transform: rotate(270deg);
    transform-origin: 0;
    margin-left: 40px;
    margin-top: 420px;
    width: 450px;
}
main{
    display: flex;
}
table{
    margin-top: 30px;
}

th{
    font-weight: lighter;
    opacity: 0.5;
    font-size: small;
}

td, th{
    padding: 5px 20px 5px 10px;
}
.content{
    height: 300px;
    width: 450px;
    padding: 20px;
}   
#home-main{
    width: 700px;
    
}